@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor0: #000000;
    --cor1: #030f3b;
    --cor2: #051a66;
    --cor3: #09289A;
    --cor4: #2442BC;
    --cor5: #2F4CD4;
    --cor6: #445EEF;
    --cor7: #ffc209;
    --cor8: #d48d0a;
    --cor9: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}


@media (max-width:600px) {
    .landingpage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        background: #020a27bb url(../imagens/logo-menor.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
    }

    .meio-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100vw;
        max-height: 100vh;
        flex-direction: column;
    }

    .meio-txt {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding:5vh 10vw;
        color: white;
    }

    .conteudo-txt {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .meio-txt h3 {
        color: var(--cor8);
    }

    .land-btn{
        padding: 10px 10vw;
        background-color: var(--cor7);
        text-align: center;
        border-radius: 10px;       
        font-weight: 900;
        color: var(--cor3);
        transition: 0.5s;
    }

    .land-btn:hover {
        background-color: var(--cor8);
        color: var(--cor1);
        font-size: 1.5em;
    }

    .meio-img {
        display: flex;
        width: 30vw;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .meio-img img {
        max-width: 100%;
        height: auto;
        border-radius: 10%;
    }

}
    /* tablets */
@media (min-width:600px) and (max-width:780px) {
    .landingpage {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        background: #020a27bb url(../imagens/logo-menor.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
    }
    .meio-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100vw;
        max-height: 90vh;
        flex-direction: column;
        padding-bottom: 9vh;
        gap: 10px;
    }

     .meio-txt {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .conteudo-txt {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .meio-txt h3 {
        color: var(--cor8);
    }

    .land-btn{
        padding: 10px 30px;
        color: var(--cor3);
        background-color: var(--cor7);
        text-align: center;
        border-radius: 10px;
        font-weight: 900;
        transition: 0.5s;
    }

    .land-btn:hover {
        background-color: var(--cor8);
        color: var(--cor1);
        font-size: 1.5em;
    }

    .meio-img {
        display: flex;
        width: 30vw;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .meio-img img {
        max-width: 100%;
        height: auto;
        border-radius: 10%;
    }


}

@media (min-width:780px) and (max-width:1315px) {
    .landingpage {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        background: #020a27bb url(../imagens/logo-menor.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
    }

    .meio-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90vw;
        max-height: 90vh;
        padding-bottom: 10vh;
    }

    .meio-txt {
        display: flex;
        width: 50vw;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-left: 5vw;
    }

    .conteudo-txt h3 {
        font-size: 2rem;
        color: var(--cor8);
        font-weight: bold;
    }

    .conteudo-txt h1 {
        font-size: 3rem;
        color: white;
        font-weight: 900;
    }

    .conteudo-txt p {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 1.5rem;
    }

    .land-btn {
        background-color: var(--cor7);
        font-size: 1.5rem;
        padding: 0.7rem 3rem;
        border-radius: 10px;
        font-weight: 900;
        color: var(--cor3);
        transition: 0.5s;
    }

    .land-btn:hover {
        background-color: var(--cor8);
        color: var(--cor1);
        font-size: 2rem;
    }

    .meio-img {
        display: flex;
        width: 50vw;
        height: auto;
        align-items: center;
    }

    .meio-img img {
        max-width: 380px;
        border-radius: 10%;
    }


}


@media(min-width:1315px) {
    .landingpage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        background: #020a27bb url(../imagens/logo-menor.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
    }

    .meio-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100vw;
        max-height: 100vh;
    }

    .meio-txt {
        display: flex;
        width: 50vw;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-left: 10vw;
    }

    .conteudo-txt h3 {
        font-size: 2rem;
        color: var(--cor8);
        font-weight: bold;
    }

    .conteudo-txt h1 {
        font-size: 3.5rem;
        color: white;
        font-weight: 900;
    }

    .conteudo-txt p {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 2rem;
    }
    .land-btn {
        background-color: var(--cor7);
        font-size: 1.5rem;
        padding: 0.7rem 3rem;
        border-radius: 10px;
        font-weight: 900;
        color: var(--cor3);
        transition: 0.5s;
    }

    .land-btn:hover {
        background-color: var(--cor8);
        color: var(--cor1);
        font-size: 2rem;
    }

    .meio-img {
        display: flex;
        width: 50vw;
        height: auto;
        align-items: center;
    }

    .meio-img img {
        max-width: 380px;
        border-radius: 10%;
    }
}
